@page "/pastclassesdata"

@using SelfService.Shared
@using System.Linq
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject HttpClient Http

@if( homePageResources == null)
{
        <p><em>Loading...</em></p>
}
else
{
    <MatAccordion Multi="true">
        @foreach(var resource in homePageResources.OrderBy(r=> r.Order)){
<MatExpansionPanel>
                    <MatExpansionPanelSummary>
                        <MatExpansionPanelHeader>@resource.Title</MatExpansionPanelHeader>
                    </MatExpansionPanelSummary>
                    <MatExpansionPanelDetails>
                        <p>@((MarkupString) @resource.InfoAsMarkdown)</p>
                    </MatExpansionPanelDetails>
                </MatExpansionPanel>            
        }
    </MatAccordion>
}

@code{
    IEnumerable<Resource> homePageResources;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            homePageResources = await Http.GetFromJsonAsync<IEnumerable<Resource>>("program/resources/pastclasses");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}