@page "/profiledata"

@using SelfService.Shared
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject HttpClient Http
@inject NavigationManager NavigationManager

@if( profileProperties == null){
    <p><em>Loading...</em></p>
}
else{
<MatButton Raised="true" OnClick="@EditProfile" style="float: right">Edit</MatButton>
<MatTable Items="@profileProperties" class="mat-elevation-z5" ShowPaging=false PageSize=20 Striped=true>
            <MatTableRow>
                <td>@context.Name</td>
                <td>@context.Value</td>
            </MatTableRow>
        </MatTable>
}
@code{
    ProfileResource profile;
    IEnumerable<ProfileData> profileProperties;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            profile = await Http.GetFromJsonAsync<ProfileResource>("student/profile");
            var profileData = new List<ProfileData>();
            profileData.Add(new ProfileData {Name = "Name", Value = profile.Name});
            profileData.Add(new ProfileData {Name = "Email", Value = profile.Email});
            profileData.Add(new ProfileData {Name = "Grade", Value = profile.Grade});
            profileData.Add(new ProfileData {Name = "Location", Value = profile.Location});
            profileData.Add(new ProfileData {Name = "Phone", Value = profile.Phone});
            profileData.Add(new ProfileData {Name = "GitUrl", Value = profile.GitUrl});
            profileProperties = profileData;
            
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    private void EditProfile()
    {
        NavigationManager.NavigateTo("editprofile");
    }

    class ProfileData
    {
        public string Name {get; set;}
        public string Value {get; set;}
    }
}